<% layout('layouts/boilerplate') %>

    <form action="/events/<%-event._id%>?_method=PATCH" method="POST" class="col-8 col-lg-3 mx-auto mt-5">

        <h1 class="text-center mb-5">Edit Items</h1>

        <div class="d-flex flex-column justify-content-between">

            <div id="foodsInput" class="d-flex flex-column align-items-center mb-3">

                <label class="form-label" for="foods[0]">Foods :</label>
    
                <% if (foods.length > 0) { %>
    
                    <% for( let food of foods) { %>
    
                        <input class="foodField form-control" type="text" name="foods[<%-foods.indexOf(food)%>]" minlength="3"
                            maxlength="30" value="<%-food%>">
        
                    <% } %>
                 
                <% } else { %> 
    
                    <input class="foodField form-control" type="text" name="foods[0]" minlength="3"
                            maxlength="30">
    
                <% } %>
                
    
            </div>

            <div class="d-flex align-self-center justify-content-center col-12 mx-2 mb-3">

                <button type="button" id="foodPlusButton" class="btn btn-success col-3 mx-2">
                    +
                </button>

                <button type="button" id="foodMinusButton" class="btn btn-danger col-3 mx-2">
                    -
                </button>

            </div>


        </div>

        <div class="d-flex flex-column justify-content-between">

            <div id="drinksInput" class="d-flex flex-column align-items-center mb-3">

                <label class="form-label" for="drinks[0]">Drinks :</label>
    
                <% if (drinks.length > 0) { %>
    
                    <% for( let drink of drinks) { %>
    
                        <input class="drinkField form-control" type="text" name="drinks[<%-drinks.indexOf(drink)%>]" minlength="3"
                            maxlength="30" value="<%-drink%>">
        
                    <% } %>
                 
                <% } else { %> 
    
                    <input class="drinkField form-control" type="text" name="drinks[0]" minlength="3"
                            maxlength="30">
    
                <% } %>
    
            </div>

            <div class="d-flex align-self-center justify-content-center col-12 mx-2 mb-3">

                <button type="button" id="drinkPlusButton" class="btn btn-success col-3 mx-2">
                    +
                </button>

                <button type="button" id="drinkMinusButton" class="btn btn-danger col-3 mx-2">
                    -
                </button>

            </div>


        </div>

        <div class="d-flex flex-column justify-content-between">

            <div id="otherInput" class="d-flex flex-column align-items-center mb-3">

                <label class="form-label" for="other[0]">Other :</label>
    
                <% if (other.length > 0) { %>
    
                    <% for( let item of other) { %>
    
                        <input class="otherField form-control" type="text" name="other[<%-other.indexOf(item)%>]" minlength="3"
                            maxlength="30" value="<%-item%>">
        
                    <% } %>
                 
                <% } else { %> 
    
                    <input class="otherField form-control" type="text" name="other[0]" minlength="3"
                            maxlength="30">
    
                <% } %>
    
            </div>

            <div class="d-flex align-self-center justify-content-center col-12 mx-2 mb-3">

                <button type="button" id="otherPlusButton" class="btn btn-success col-3 mx-2">
                    +
                </button>

                <button type="button" id="otherMinusButton" class="btn btn-danger col-3 mx-2">
                    -
                </button>

            </div>


        </div>       

        <input type="hidden" name="user" value="<%- session.userId %>">

        <div class="d-flex justify-content-center mx-auto mb-3 col-7">
            <button class="btn btn-outline-success col-12">Save Items</button>
        </div>

    </form>

    <script src="/js/dynamicForm.js">
    </script>